# Document ingestion & parsing
pypdf

# Embeddings & Vector Search
faiss-cpu
sentence-transformers

# Retrieval & Fusion
rank-bm25
networkx

# LangChain & LLM
python-dotenv
langchain-core
langchain-experimental
langchain-mistralai

# API Microservice
fastapi
uvicorn
requests

# Evaluation (RAGAS Benchmarks)
ragas
datasets
-e .